@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt-Regular.ttf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt-Medium.ttf');
  font-weight: medium;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt-Bold.ttf');
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

@layer components {
  .spinner-wrapper {
    @apply flex flex-col items-center justify-center h-full;
  }

  .spinner-container {
    @apply flex items-center justify-center h-full;
  }

  .table-container {
    @apply overflow-y-auto block;
    max-height: 75vh;
  }
}
